body {
  
    margin: 0;
    padding: 0;
    background-color: #0D0D0D;
    color: #F20505;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 23px;
letter-spacing: -0.4px;
word-spacing: -0.4px;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none
}

header {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
